*{
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    /* font-size: 100%; */
}

body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
}


.left-side {
    position: relative;
    height: 100vh;
    width: 40vw;
    background-image: url(./aerial-view-mountain-covered-fog-beautiful-pink-sky.jpg);
    background-size: cover;
    align-items: center;
}

.left-side > a {
    color: white;
    position: absolute;
    bottom: 5px;
    left: 5px;
    text-decoration: none;
    font-weight: bold;
    opacity: 50%;
    font-size: 0.8rem;
}

.left-side > a:hover {
    text-decoration: underline;
}

.logo-overlay {
    position: absolute;
    top: 20%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.logo-overlay > h1 {
    font-size: 3rem;
    font-family: 'Source Sans Pro', sans-serif;
}

.logo-overlay > img {
    padding: 15px;
    width: 7rem;
    height: 8rem;
}


.right-side {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.preamble-text {
    padding: 0px 20px;
}

.preamble-text > h2 {
    font-size: 1.4rem;
}

.form-contents {
    margin-top: 2rem;
}

#form-title {
    font-size: 1.4rem;
    width: 100%;
}

form {
    display: flex;
    flex-flow: column nowrap;
}

.form-inputs {
    border-top: 1px solid rgba(218, 218, 218, 0.65);
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding: 20px 20px 40px 20px;
    background-color: #ededed;
    box-shadow: 0px 5px 10px rgba(110, 110, 110, 0.40);
}

.form-inputs > div {
    display: flex;
    flex-flow: column wrap;
    width: 45%;
}

label {
    padding-left: 0px;
    margin-bottom: 5px;
}

input {
    padding: 10px 15px;
    width: 90%;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 40px;
    font-size: 0.9rem;
}

input:invalid:focus {
    border: 1px solid rgb(255, 69, 100);
    outline: none;
}

input:focus:valid {
    border: rgb(45, 197, 11) 1px solid;
    outline: none;
}

button{
    margin: 40px 20px 20px 20px;
    width: 15vw;
    height: 40px;
    background-color: #f65976;
    color: white;
    border: 1px solid #e32d37;
    border-radius: 40px;
    font-size: 0.8rem;
}

button:hover{
    background-image: linear-gradient(#f07289, #af6d89);
    background-color: #f49f1f;
    color: white;
}

button:focus{
    outline: none;
}

button:active{
    border-color: white;
}

.after-submit {
    margin-left: 20px;
    font-size: 1rem;
}

.after-submit > p {
    display: inline;
}

.after-submit > a {
    display: inline;
    color: #f65976;
    font-weight: bold;
    text-decoration: none;
}

.after-submit > a:hover {
    color: #d21821;
    text-decoration: none;
}

@media only screen and (max-width: 750px)  {
    body {
        height: auto;
        width: 100vw;
        flex-direction: column;
    }

    .left-side {
        height: 20vh;
        background-image: url(./aerial-view-mountain-covered-fog-beautiful-pink-sky.jpg);
        width: 100vw;
        background-position-y: 75%;
        display: flex;
    }

    .logo-overlay {
        position: absolute;
        top: 0px;
        display: flex;
        width: 100%;
        height: 100%;
    }
    
    .logo-overlay > h1 {
        font-size: 2rem;
        font-family: 'Source Sans Pro', sans-serif;
    }
    
    .logo-overlay > img {
        padding: 15px;
        width: 3.5rem;
        height: 4rem;
    }

    .left-side > a {
        color: white;
        position: absolute;
        bottom: 5px;
        right: 0px;
        text-decoration: none;
        font-weight: bold;
        opacity: 50%;
        font-size: 0.2rem;
    }

    .right-side {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .preamble-text {
        padding: 30px 20px 0px 20px;
    }
    
    .preamble-text > h2 {
        font-size: 1.2rem;
    }
    
    .form-contents {
        margin-top: 1rem;
    }

    #form-title {
        font-size: 1.2rem;
        width: 100%;
    }
    
    form {
        display: flex;
        flex-flow: column nowrap;
    }
    
    .form-inputs {
        border-top: 1px solid rgba(218, 218, 218, 0.65);
        display: flex;
        flex-flow: column nowrap;
        gap: 20px;
        padding: 20px 20px 40px 20px;
        background-color: #ededed;
        box-shadow: 0px 5px 10px rgba(110, 110, 110, 0.40);
    }
    
    .form-inputs > div {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
    }
    
    label {
        padding-left: 0px;
        margin-bottom: 5px;
    }

    button{
        width: 50vw;
    }

    .after-submit > a {
        padding-bottom: 20px;
    }
}