@font-face {
    font-family: logo-font;
    src: url(./Franksthone-OV1oe.ttf);
  }

*{
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
}

/* Left side of the page */

.left-side {
    position: relative;
    height: 100vh;
    width: 40vw;
    background-image: url(./aerial-view-mountain-covered-fog-beautiful-pink-sky.jpg);
    background-size: cover;
    display: bl;
    align-items: center;
}

.left-side > a {
    color: white;
    position: absolute;
    bottom: 5px;
    left: 5px;
    text-decoration: none;
    font-weight: bold;
    opacity: 50%;
}

.left-side > a:hover {
    text-decoration: underline;
}

.logo-overlay {
    position: absolute;
    top: 20%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.logo-overlay > p {
    font-size: 8rem;
    font-family: logo-font;
}

.logo-overlay > img {
    padding: 15px;
    width: 8rem;
    height: 10rem;
}

/* ADD STYLE FOR MIN-WIDTH */
/* MAKE THE FORMAT VERTICAL IN THAT CASE; INSTEAD OF SIDE BY SIDE */


/* Right side of the page */
.right-side {
    width: 60vw;
    display: flex;
    flex-flow: column nowrap;
    /* font-family: 'Courier New', Courier, monospace; */
    justify-content: center;
    /* align-items: center; */
    /* border-left: 2px rgb(0, 0, 0) solid; */
}

.preamble-text {
    border: 1px black solid;
    padding: 50px;
}

.preamble-text > h2, i {
    position: relative;
    top: 30%;
    font-size: 2rem;
}

.form-contents {
    border: 1px black solid;
}

.form-contents > h2 {
    font-size: 2rem;
}

.form {
    /* display: flex; */
    /* flex-flow: row wrap; */
    /* gap: 20px; */
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    /* padding-top: 20px; */
    padding-bottom: 20px;
}

.form > div {
    display: flex;
    flex-flow: column nowrap;
    width: 45%;
    border: 1px solid black;
    /* display: flex;
    flex-flow: column wrap;
    width: 40%;
    font-size: 0.7rem;
    text-transform: uppercase;
    opacity: 50%; */
}


/* .submit {
    border: 1px black solid;
    padding: 0px;
} */

button{
    padding: 7px 10px 7px 10px;
    width: 10%;
    height: 50px;
    background-color: rgb(213, 61, 19);
    border: 1px solid transparent;
    border-radius: 3px;
    /* margin-left: 40px;*/
}

button:hover{
  background-color: #f49f1f;
  color: white;
}

button:focus{
  outline: none;
}

button:active{
  background-image: linear-gradient(#d31538, #582300);
}

input {
    padding: 5px;
    width: 40%;
}

input:valid {
    border-color:green;
}

input:invalid {
    border-color:red;
}